.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
}

.content {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 80px;
}
